*{
    margin:0;
    padding:0;
}

body{
    height:900px;
    box-sizing: border-box;
}

.app-container{
    width: 700px;
    height: 850px;
    margin: 10px auto;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 86, 1) 35%, rgba(51, 0, 255, 1) 100%);
    background-repeat: no-repeat;
    background-size: 300% 100%;
    border-radius: 10px;
    box-shadow: 13px 20px 26px 7px rgba(0, 0, 0, 0.38);
    animation: gradient 20s infinite alternate;
}

@keyframes gradient {
    0% {
            background-position: 0% 50%;
        }
    
        50% {
            background-position: 100% 50%;
        }
    
        100% {
            background-position: 0% 50%;
        }
}


header{
    width:70%;
    height: 100px;
    margin: 30px auto;
    margin-bottom: 0;
}

.form-label{
    font-size: 20px;
    color:whitesmoke;
}

.btn-danger{
    position: relative;
    top:-40px;
    margin-top: 5px;
}

.weather-info{
    width: 65%;
    margin: 30px auto;
}

.card-main {
    margin: 0px auto;
    margin-top:50px;
    max-width: 300px;
    height: 400px;
}

#main-img{
    position: relative;
    top: -40px;
    margin: 0 auto;
    width:200px;
    height: 200px;
}

.card-body{
    position: relative;
    top: -80px;
}

.card-text{
    font-size: 1.4rem;
}

.temperature {
    color: whitesmoke;
    text-decoration: none;
}

.temperature:hover {
    cursor: default;
}

.active {
    color: cyan;
}

.active:hover {
    cursor: pointer;
}

.weather-rank{
    font-size: 1rem;
}

.card-forecast{
    width: 80px;
    height: 150px;
}

.img-forecast{
    width:40px;
    height:40px;
}

.title-weekD{
    margin-top: 20px;
    font-size: 1.1rem;
    opacity: 0.5;
}

.text-week{
    margin-top: 10px;
    font-size: 1rem;
}

.forecast-min{
    opacity: 0.5;
}

footer p{
    margin-top: 20px;
    text-align: center;
    color:#FFC23C;
}

.code-info{
    text-decoration: none;
    color:whitesmoke;
}